@font-face {
  font-family: openSans;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
h1 {
  font-size: 2em;
}
p {
  font-size: 20px;
}
.fx {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}
.wb {
  background: #fefefe;
  color: #131313;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-basis: 100%;
}
.db {
  background: #131313;
  color: #fefefe;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-basis: 100%;
}
html {
  overflow: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: openSans, 'Calibri Light', serif;
  color: #fefefe;
}
img {
  max-width: 150px;
  border-radius: 2px;
}
section {
  padding: 100px 50px;
  min-height: calc(100vh - 200px);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
section > * {
  margin: 25px 0;
  width: 100%;
}
section > .wb,
section > .db {
  margin: 0;
}
section > .wb > *,
section > .db > * {
  padding: 5px 30px;
}
.nav {
  background: #fefefe;
  margin: 0;
  padding: 10px 50px;
  list-style: none;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}
.nav .item {
  display: inline-block;
  margin: 0 10px;
}
.nav .item a {
  text-decoration: none;
  padding: 5px 10px;
  background: #fefefe;
  color: #131313;
  transition: 0.3s;
  font-size: 1.3em;
  position: relative;
}
.nav .item a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #131313;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}
.nav .item a:hover::after {
  transition: 0.3s;
  transform: scaleX(1);
}
.dark {
  background: #131313;
  background: radial-gradient(circle at 50% 50%, #050505 -50%, rgba(15, 15, 15, 0.85) 100%) no-repeat 50% 50%;
  color: #fefefe;
}
.white {
  background: radial-gradient(circle at 50% 50%, #d0d0d0 5%, rgba(208, 208, 208, 0.2) 65%) no-repeat 50% 50%;
  color: #131313;
}
.tr {
  text-align: right;
  align-items: right;
}
.tc {
  text-align: center;
  align-items: center;
}
.slide {
  display: none;
}
#prevSlide {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  left: 5px;
}
#nextSlide {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  right: 5px;
}
.active {
  display: block;
}
@media only screen and (max-width: 1000px) {
  html {
    overflow: auto;
  }
  .fx {
    flex-wrap: wrap;
  }
}
