@import "../fonts/kelson.css";
/*
	Kelson Sans, 300, 400, 700
*/


body{
	background: #E8E8E8;
}
section:after{
	content: " ";
	position: absolute;
	width: 86%;
	height: 1px;
	background:#959595; 
	margin: 0 calc((100% - 86%)/2);
	margin: 0 -moz-calc((100% - 86%)/2);
	margin: 0 -webkit-calc((100% - 86%)/2);
}
#header,
#icreate,
#stages,
#result{
	margin-top: 20px;
	margin-bottom: 20px;
}
p,h1,h2,h3,h4,span{
	cursor: default;
	font-family: Kelson Sans;
	line-height: 1.4;
	color: #6D6D6D
}
h1,h2,h3,h4{
	cursor: default;
	font-family: Kelson Sans;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 7px;
}
.photo{
	border-radius: 50%;
	border: solid 3px #ffffff;
	box-shadow:  0px 0px 15px 5px #787878;
}
.logo{
	margin-top: 15px;
	margin-bottom: 20px;
	transition: all 2s;
}
.logo:hover{
	transition: all 0.6s;
	transform:scale(0.8);
	border-radius: 12px;
	border: solid 8px #ffffff;
}
#stages img{
	border: solid 5px #ffffff;
	box-shadow:  0px 0px 20px 8px #787878;
	margin-top: 20px;
	margin-bottom: 15px;
}
i{
	text-shadow: #B6B6B6 1px 1px 0, #B6B6B6 2px 2px 0, 
                 #B6B6B6 3px 3px 0, #B6B6B6 4px 4px 0, 
                 #B6B6B6 5px 5px 0;
}
#result{
	height: 1000px;
}
#stages .thumbnail{
	margin-top: 20px;
	margin-bottom: 20px;
}
#stages .thumbnail>p{
	min-height: 100px;
	padding-top: 15px;
}
#stages .thumbnail>i{
	color: #505050;
	padding-top: 10px;
	padding-bottom: 15px;
}